data/BIOGAME_DIRECTORIES
carddata/
data/temp
ME3CMM.exe
data/tools
.classpath
.project
.settings/
bin/
mod_info
me3mcc.ini
me3cmm.ini
coalesceds/
Testing Mod/
ME3Explorer/
update/
me3cmm_last_run_log.txt
latest_version
PCA-Generator/
*.xml
data/databases
data/mixinlibrary
data/modmaker
mods/
server/
patches/
derby.log
data/Coalesced.original
